* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    height: 100%;
    background: linear-gradient(135deg, #72889b, #37374b);

    background-attachment: fixed;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #f8f9fa;
}